{% extends 'home/base.html' %}

{% block main_content %}
<div class="container">
  <div class="row">
    <h2 class="col text-center">Website Currently Under Development</h2>
  </div>
  <div class="row justify-content-center">
    <ul class="col-auto" style="margin-left: 25px!important;">
      <li>Skeleton/filler content added throughout site for testing & example purposes only</li>
      <li>Actual blog posts are slowly being added. More real content coming soon...</li>
      <li>Website Source code and project documentation published on GitHub - <a href="https://github.com/ryanwarrick/zaphod">Zaphod Repo</a></li>
      <li>DevOps automation helper source code and project documentation published on GitHub - <a href="https://github.com/ryanwarrick/zaphod_ansible">Zaphod_Ansible Repo</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block header %}
  {{ super() }}
  <div class="container-fluid p-0">
    <img class="banner banner-home" src="{{ url_for('home.static', filename='images/lights.jpg') }}">
  </div>
{% endblock %}