{% extends 'home/base.html' %}

{% block main_content %}
<div class="container">
  <div class="temp-message row">
    <h2>Website Currently Under Development</h2>
    <ul>
      <li>Skeleton/filler content added throughout site for testing & example purposes only</li>
      <li>Real content coming soon...</li>
      <li>Website Source code and project documentation published on GitHub - <a href="https://github.com/ryanwarrick/zaphod">Zaphod Repo</a></li>
      <li>DevOps automation helper source code and project documentation published on GitHub - <a href="https://github.com/ryanwarrick/zaphod_ansible">Zaphod_Ansible Repo</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block header %}
  {{ super() }}
  <div class="container-fluid p-0">
    <img class="banner banner-home" src="{{ url_for('home.static', filename='images/lights.jpg') }}">
  </div>
{% endblock %}