{% extends 'home/base.html' %}

{% block title %}
Career
{% endblock %}

{% block head %}
  {{ super() }}

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('home.static', filename='css/content.css') }}">
  <link rel="stylesheet" href="{{ url_for('home.static', filename='css/content_code_highlighting.css') }}">
  <link rel="stylesheet" href="{{ url_for('career.static', filename='css/career.css') }}">
{% endblock %}

{% block header %}
  {{ super() }}
  <div class="container-fluid p-0">
    <img class="banner" src="{{ url_for('career.static', filename='images/header.jpg') }}">
  </div>
{% endblock %}
