/* stylelint-disable selector-list-comma-newline-after */

/*
 * Colors
 */

:root {
  /* Custom properties set on the ':root' pseudo-class can be applied globally across HTML document */

  /*
  CSS color variable definitions
  */

  --alpha: #546347;
  /* Uses:
  - Nav bar background
  - Blog/Article content title link
  - Blog/Article content header bottom border (separates content header from content body)
  */

  --beta: #408585;
  /* Uses:
  - Blog/article content border
  - 'View Full Post' button background
  - Blog archive year border
  */

  --gamma: #e3e4d2;
  /* Uses:
  - Body (main) background
  - Nav bar dropdown background
  */

  --delta: #949494;
  /* Uses:
  - Blog post tag background
  */

  --epsilon: #313638;
  /* Uses:
  - Front page 'quick links' link text
  */


  /*
  Front page quick links - button backgrounds (see below)
  */
  /* Resume */
  --uranian-blue: #AFD2E9;
  /* GitHub Profile */
  --cotton-candy: #ffc2d9;
  /* Website Docs */
  --mountbatten-pink: #A88A94;
  /* Blog Posts */
  --laurel-green: #98A989;

}

/*
 * Nav
 */

nav.navbar {
  background: var(--alpha) !important;
}

nav.navbar ul.dropdown-menu {
  background: var(--gamma) !important;
}

nav.navbar ul.dropdown-menu {
  position: absolute !important;
}

@media (min-width: 400px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

/*
 * Banner
 */

img.banner {
  object-fit: cover;
  width: 100%;
  height: 75px;
  object-position: center 30%;
}

img.banner-home {
  object-position: center 80%;
}

@media (min-width: 576px) {

  /* Small devices (landscape phones, 576px and up) */
  img.banner {
    height: 150px;
  }
}

@media (min-width: 768px) {

  /* Medium devices (tablets, 768px and up) */
  img.banner {
    height: 175px;
  }
}

/*
 * General
 */

body {
  background: var(--gamma);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/*
 * Home Shortcuts
 */

.home_shortcut {
  position: relative;
  overflow: hidden;
}

.home_shortcut a {
  color: var(--delta);
}

/*
 * Footer
 */

.home-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.home-footer p {
  margin-bottom: 0;
}